.hud__message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hud__action-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}

.hud__action-button {
  &:disabled {
    opacity: 0.5;
    cursor: initial;
  }
}

.hud__action__price {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  border: 1px solid var(--accent);
  background: var(--card);

  transform: translate(-50%, -50%);
}

.hud__turn-banner {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 7rem;
  margin: auto;

  opacity: 0;
  transform: translate(-20%, 0);

  mask: linear-gradient(90deg, #0000, #000f, #000f, #0000);
}

.hud__turn-banner--in {
  opacity: 1;
  transform: translate(0, 0);

  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.hud__turn-banner--out {
  opacity: 0;
  transform: translate(20%, 0);

  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
