.game__container {
  overflow: auto;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game__canvas-container {
  z-index: 0;
}

.game__canvas {
  display: block;
}
