.notifications__container {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  z-index: 10;

  max-width: 100%;

  transform: translate(-50%, 0);
}

.notifications__notification {
  overflow: hidden;
  max-height: 5rem;
}
